html
{
    background-color: aquamarine;
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bru
{
    display: flex;
    justify-content: center;
}

.im
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1
{
    text-align: center;
}

img
{
    width: 75%;
    height: 75%;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}