*
{
    margin: 0px;
    border: 0px;
}

body
{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    color: darkred;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 10px solid darkred;
    border-bottom: 10px solid darkred;
    padding: 2%;
}

h5
{
    color: darkolivegreen;
    text-align: center;
    border-top: 5px solid darkolivegreen;
    border-bottom: 5px solid darkolivegreen;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p
{
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 35px;
}
.col-sm
{
    font-size: 20px;
    margin-top: 15px;

}

button
{
    color: darkred;
}